@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F1;
  scroll-behavior: smooth;

}
body {
  position: relative;
  overflow-x: hidden;
}
#root {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
}
.App {
  width: 100%;
  height: 100%;
}
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
path {
  pointer-events: none;
}

#loading-icon {
  margin: 5rem auto;
}

/*   Loading page start    */

#loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffecaed7;
}
#loading-page h3 {
  font-size: 2.1rem;
}
.loading-baloon1, .loading-baloon2 {
  width: 3rem;
  height: 3rem;
  background: #ff932f;
  border-radius: 50%;
}
.loading-baloon1 {
  animation: loading-baloon-animation 1s ease-in-out alternate infinite;
}
.loading-baloon2 {
  animation: loading-baloon-animation 1s .1s ease-in-out alternate infinite;
}


@keyframes loading-baloon-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

/*    Loading page end    */
@media screen and (max-width: 700px) {
  #root {
    width: 95%;
  }
  #loading-page h3 {
  font-size: 2rem;
}
  .loading-baloon1, .loading-baloon2 {
  width: 1.5rem;
  height: 1.5rem;
}
}
